.styled-table {
    border-collapse: separate; 
    border-spacing: 10px; 
    width: 100%;
    border: 2px solid #ddd; 
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #000000;
    padding: 8px; 
    text-align: left;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
body{
  background-color: #f1f0f5;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.form-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}
label, select {
  display: block;
  margin-bottom: 10px;
}
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}